We're building a web app that helps guitarists practice common chord shapes and inversions. When the user clicks the 'Start' button, the app displays a 'chord problem' to the user and starts a timer. The user must solve the chord problem as quickly as possible. The user signals to the app that they've solved the problem by pressing the 'stop' button. This stops the timer and displays the correct answer via an SVG diagram of the guitar fretboard. The user repeats this process 9 times, for a total of 10 chord problems. Each round of 10 chord problems is a 'session'. When they finish the 10th chord problem they can click to see the results of their practice session. The results consist of displaying to the user which chord problems took the longest time to complete. We define a 'chord problem' as follows:
	'String Set': the options are '1' or '2'. This refers to either the top four strings - E, B, G, D - in the case of '1', or B, G, D, A in the case of '2'. 
	'Root': this refers to which string the root of the chord should be played on. Note that depending on which string set is displayed, some roots won't be applicable. Namely, if String Set is '1', then the 5th string isn't used, so the only options for 'Root' are 1, 2, 3, or 4. Likewise, when the String Set is '2', the high E string is not used, so the only options for 'Root' are 2, 3, 4, or 5.
	'Key': this refers to which key the chord should be in. The options are 'C', 'Db', 'D', 'Eb', 'E', 'F', 'F#', 'G', 'Ab', 'A', 'Bb', 'B'. The string identified by the 'Root' should play the corresponding note in the key.
	'Type': this refers to the type of chord. The options are 'maj7', 'maj9', 'min7', 'min9', 'dom7', 'm7b5', 'alt dom', 'dom13'.
