node_modules/
*.log
.env
.vscode/
dist/
.DS_Store
*.csv
Major-and-Minor-Voicings-w_Extensions.zip
out/
public/svg-test.html
Major and Minor Voicings w_ Extensions.zip
scratch.js
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
