html {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

/* Everything above is from the FEM Responsive Web Design course */

/* * {
  border: 1px solid red;
} */
.problem-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.label {
  justify-self: end;
}

.main {
  border: 5px solid #808080;
  border-radius: 10px;
  max-width: 360px;
  height: 648px;
  margin: 1rem auto;
}

#elapsedTime {
  display: none;
}

#fretboard-container {
  height: 320px; /* 150px for SVG height + 20px for bottom margin */
  visibility: hidden; /* Initially hidden */
  display: grid; /* Keep the grid display */
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;  /* Adjust this value as needed */
}

#fretboard-container p {
  font-size: 18px;
  line-height: 2.2;
}

#fretboard-container svg {
  width: 120px;
  height: 300px;
  margin: 0px 0px 20px 0px;
}

#resultsContainer {
  overflow-x: auto;
}

.button-container {
  text-align: center;
}

#start-stop-button {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
}
#start-stop-button-label {
  margin: 0 auto;
}

/* Style the table so that the data for each column is center-aligned under each column heading */
table {
  border-collapse: collapse;
  font-size: 0.5rem;
}

th {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 8px;
  background-color: black;
  color: whitesmoke;
}

td {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding: 8px;
  /* background-color: white; */
  color: black;
  border-bottom: 1px solid black;
}

/* tr:nth-child(even) {
  background-color: lightblue;
} */

table th:first-child,
table td:first-child {
  width: 500px;
  /* Adjust this value as needed */
}

.myTable tr td:first-child {
  width: 200px;
}

.myTable tr th:first-child {
  width: 200px; /* or any width you want */
}

#assistant-response-text {
  margin: 20px 20px;
  font-size: 16px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* width: 350px; */
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 30px 0px;
}

#message {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#send-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #858585;
  margin-left: 10px;
}

#send-button svg {
  vertical-align: middle;
}

#send-button:active {
  color: #ff0000; /* Change to the color you want */
}
